<nz-layout>
  <div>
    <h2 nz-title>Looking for a skill ?</h2>
  </div>
  <div>
    <nz-select
      [nzMaxTagCount]="3"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Please select"
      [(ngModel)]="selectedSkills"
    >
      <nz-option *ngFor="let skill of skillsList" [nzLabel]="skill.name" [nzValue]="skill.id"></nz-option>
    </nz-select>
    <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
  </div>
  <div>
    <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, span: 6 }">
      <ng-template #item let-item>
        <nz-card nzHoverable style="width: 300px;margin-top: 16px" [nzCover]="avatarTemplate">
          <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
            <nz-card-meta
              [nzAvatar]="avatarTemplate"
              nzTitle="Card title"
              nzDescription="This is the description"
            ></nz-card-meta>
          </nz-skeleton>
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
      </ng-template>
    </nz-list>
  </div>
  <div>
    <button nz-button [nzSize]="500" nzType="primary">Request</button>
  </div>
</nz-layout>
