<nz-layout class="plop">
  <div>
    <h2 nz-title>Looking for a skill ?</h2>
  </div>
  <div>
    <nz-select
      [nzMaxTagCount]="3"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Please select"
      [(ngModel)]="selectedSkills"
      (ngModelChange)="update()"
    >
      <nz-option *ngFor="let skill of skillsList" [nzLabel]="skill" [nzValue]="skill"></nz-option>
    </nz-select>
    <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
  </div>
  <div>
    <nz-list [nzDataSource]="employees" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, span: 6 }">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent" (click)="selectEmployee(item)">
          <ng-template #nzContent>
            <nz-card style="width: 300px;margin-top: 16px" [class.active]="selectedEmployees.includes(item)">
              <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
                <nz-card-meta
                  [nzAvatar]="avatarTemplate"
                  nzTitle="{{item.name}} {{item.surname}}"
                ></nz-card-meta>
              </nz-skeleton>
            </nz-card>
            <ng-template #avatarTemplate>
              <nz-avatar [nzSrc]="getAvatar(item)"></nz-avatar>
            </ng-template>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
  <div>
    <button (click)="showDrawer()" nz-button nzType="primary">Request</button>
  </div>
</nz-layout>

<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="isVisible"
  nzTitle="Employees invitation"
  (nzOnClose)="closeDrawer()"
>
  <div>
    <h4 nz-title>Selected employees</h4>
  </div>
  <nz-list [nzDataSource]="selectedEmployees" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, xs: 24, sm: 12, md: 6, lg: 6, xl: 4 }">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="nzContent">
        <ng-template #nzContent>
          <nz-avatar [nzSrc]="getAvatar(item)"></nz-avatar>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>

  <form nz-form [formGroup]="validateForm">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Subject</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input formControlName="subject" placeholder="Please, enter a mail subject" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Message</nz-form-label>
          <nz-form-control>
            <textarea
              nz-input
              placeholder="Please, enter a mail content"
              formControlName="message"
              [nzAutosize]="{ minRows: 10, maxRows: 10 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Pick datetime</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              nzShowTime
              nzFormat="yyyy-MM-dd HH:mm:ss"
              formControlName="inviteDate"
              nzPlaceHolder="Select Time"
              (nzOnOk)="onOk($event)"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button type="button" (click)="submitInvitation()" class="ant-btn ant-btn-primary" style="margin-right: 8px;"><span>Submit</span></button>
    <button type="button" (click)="closeDrawer()" class="ant-btn"><span>Cancel</span></button>
  </div>
</nz-drawer>
