<nz-layout class="plop">
  <div>
    <h2 nz-title>Looking for a skill ?</h2>
  </div>
  <div>
    <nz-select
      [nzMaxTagCount]="3"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Please select"
      [(ngModel)]="selectedSkills"
      (ngModelChange)="update()"
    >
      <nz-option *ngFor="let skill of skillsList" [nzLabel]="skill" [nzValue]="skill"></nz-option>
    </nz-select>
    <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
  </div>
  <div>
    <nz-list [nzDataSource]="employees" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, span: 6 }">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent" (click)="selectEmployee(item)">
          <ng-template #nzContent>
            <nz-card style="width: 300px;margin-top: 16px" [class.active]="selectedEmployees.includes(item)">
              <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
                <nz-card-meta
                  [nzAvatar]="avatarTemplate"
                  nzTitle="{{item.name}} {{item.surname}}"
                ></nz-card-meta>
              </nz-skeleton>
            </nz-card>
            <ng-template #avatarTemplate>
              <nz-avatar [nzSrc]="getAvatar(item)"></nz-avatar>
            </ng-template>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
  <div>
    <button (click)="showModal()" nz-button nzType="primary">Request</button>
  </div>
</nz-layout>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Invite employees"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <p>Modal Content</p>
</nz-modal>
