:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.selected {
  background-color: rebeccapurple;
}

.app-layout {
  height: 100vh;
    background: url("src/assets/background-1.png");
  ::ng-deep nz-footer {
    background: transparent;
  }
}
