<nz-layout class="plop">
  <div>
    <h2 nz-title>Who will you ask for {{skill}} questions </h2>
  </div>
  <div>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <div>
    <nz-list [nzDataSource]="employees" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, span: 6 }">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent">
          <ng-template #nzContent>
            <nz-card style="width: 300px;margin-top: 16px">
              <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
                <nz-card-meta
                  [nzAvatar]="avatarTemplate"
                  [nzTitle]="item.name + ' ' + item.surname"
                  nzDescription="This is the description"
                ></nz-card-meta>
              </nz-skeleton>
            </nz-card>
            <ng-template #avatarTemplate>
              <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            </ng-template>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
  <div>
    <button nz-button [nzSize]="500" nzType="primary">Recommend</button>
  </div>
</nz-layout>
