[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.plop {
  background: transparent;
}

nz-card:hover {
  border-color: deeppink;
  color: deeppink;
  cursor: pointer;
}

nz-card:active, nz-card.active {
  background: greenyellow;
}
