[nz-button] {
  margin-right: 8px;
}

.plop {
  background: transparent;
}

nz-card:hover {
  border-color: #412554;
  color: #412554;
  cursor: pointer;
}

nz-card:active, nz-card.active {
  background: #ad777c;
  border-color: #412554;
  color: #412554;
}

nz-input-group.ant-input-search-enter-button.ant-input-search.ant-input-group-wrapper
  span.ant-input-wrapper.ant-input-group
  span.ant-input-group-addon {
  background: transparent;
}
